.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(41, 152, 255, 0.75),
      rgba(86, 67, 250, 0.75)
    ),
    url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  letter-spacing: 0.5rem;
  font-size: 6rem;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  letter-spacing: 1rem;
  font-size: 2rem;
  font-weight: 700;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 380px) {
  .header {
    height: 60vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
  }

  .header__text-box {
    top: 50%;
  }

  .heading-primary--main {
    font-size: 5rem;
  }

  .heading-primary--sub {
    font-size: 1.5rem;
    display: inline-block;
  }
}
