*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.levelContainer {
  background-color: #f7f7f7;
  padding: 5rem;
}

.levelHeader {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 45px;
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

.semesterHeader {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  margin-top: 50px;
}

.homeBtn {
  font-size: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  transition: all 0.2s;
}

.homeBtn:hover {
  transform: scale(1.2);
}

.homeBtn:active {
  transform: scale(0.98);
}
